/* CSS declarations go here */

/* Default */
h1 {
  size: 44px;
}

h2 {
  size: 36px;
}

h3 {
  size: 28px;
}

h4 {
  size: 22px;
}

img {
  max-width: 100%;
}

/* Header */

#loadingIcon {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
}

.article {
  background-color: #fff;
}

@media (min-width: 768px) {
  .sub_logo {
    display: inline-block;
  }

  .sub_logo:first-letter {
    font-size: 85px;
  }
  
  .new-article {
    padding: 30px;
  }
}


/* Article */

.article img {
  width: 100%;
}

.gif.row {
  padding-bottom: 15px;
}

