/* CSS declarations go here */

/* Default */
h1 {
  size: 44px;
}

h2 {
  size: 36px;
}

h3 {
  size: 28px;
}

h4 {
  size: 22px;
}

img {
  max-width: 100%;
}

/* Header */

.sub_logo {
  display: none;
  color: #e33;
  font-size: 60px;
  padding: 0;
  margin: 0;
  position: relative;
  top: 24px;
  line-height: 20px;
  left: -18px;
  font-weight: bold;
  letter-spacing: -5px;
}

@media (min-width: 768px) {
  .sub_logo {
    display: inline-block;
  }

  .sub_logo:first-letter {
    font-size: 85px;
  }
  
  .new-article {
    padding: 30px;
  }
}


/* Article */

.article img {
  width: 100%;
}

.gif.row {
  padding-bottom: 15px;
}

